# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data_to_load = "output_data/weather_data.csv"
weather_data = pd.read_csv(weather_data_to_load)
dropna_weather_data = weather_data.dropna()
dropna_weather_data.index = np.arange(1, len(dropna_weather_data)+1)
del dropna_weather_data["Unnamed: 0"]
dropna_weather_data.head(20)

,City,Country,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Lat,Lng
1,Bambous Virieux,MU,1580256981,20,88,73.00,6.93,-20.34,57.76
2,Bredasdorp,ZA,1580257224,81,88,66.20,6.96,-34.53,20.04
3,Rikitea,PF,1580257161,100,80,79.59,10.31,-23.12,-134.97
4,Iwaki,JP,1580257226,75,100,57.00,21.92,37.05,140.88
5,Paamiut,GL,1580257227,79,52,15.60,13.29,61.99,-49.67
6,Lebu,CL,1580257228,10,60,55.35,12.48,-37.62,-73.65
7,Shache,CN,1580257230,57,69,21.61,4.07,38.42,77.24
8,Saint-Pierre,RE,1580257231,75,68,72.00,6.93,-21.34,55.48
9,Ushuaia,AR,1580257232,75,81,42.80,32.21,-54.80,-68.30
10,San Juan Bautista,PE,1580257233,90,83,75.20,6.93,-14.01,-75.74
11,Alofi,NU,1580257159,40,74,86.00,6.93,-19.06,-169.92
12,Punta Arenas,CL,1580257155,75,61,48.20,29.97,-53.15,-70.92
13,Mount Gambier,AU,1580257236,40,77,64.40,4.70,-37.83,140.77
14,Albany,US,1580257237,90,59,33.80,13.87,42.60,-73.97
15,Barinas,VE,1580257239,23,51,83.77,7.05,8.62,-70.21
16,Mombetsu,JP,1580257240,75,85,21.20,1.12,44.35,143.35
17,Hobart,AU,1580257241,75,43,73.40,16.11,-42.88,147.33
18,Arraial do Cabo,BR,1580257155,40,94,77.00,3.36,-22.97,-42.03
19,Paramonga,PE,1580257243,65,89,70.66,9.10,-10.67,-77.83
20,Zeya,RU,1580257244,0,82,-4.76,3.42,53.75,127.27

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)
# Locations
locations = dropna_weather_data[["Lat", "Lng"]]
humidity = dropna_weather_data["Humidity"]
# Plot Heatmap
fig = gmaps.figure()
# Createlayer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heatmap_layer)
heatmap_layer.max_intensity = 80
heatmap_layer.point_radius = 5
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
# Filter vacation with cloudiness below 30
vacation_cloud = dropna_weather_data[dropna_weather_data["Cloudiness"] < 30]
# Filter vacation with max temp above 60 degrees F
vacation_above_60_degrees = vacation_cloud[vacation_cloud["Max Temp"] > 60]
# Filter vacation with max temp below 100 degrees F
vacation_below_100_degrees = vacation_above_60_degrees[vacation_above_60_degrees["Max Temp"] < 100]
# Filter vacation with wind speed below 15 mph
vacation_slow_wind = vacation_below_100_degrees[vacation_below_100_degrees["Wind Speed"] < 15]
# Filter vacation with humidity below 50 %
perfect_vacation = vacation_slow_wind[vacation_slow_wind["Humidity"] < 50]
city_perfect_vacation = perfect_vacation.reset_index()
del city_perfect_vacation["index"]
city_perfect_vacation

,City,Country,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Lat,Lng
0,Sur,OM,1580257282,0,46,62.74,10.85,22.57,59.53
1,Zemio,CF,1580257299,6,26,63.70,3.60,5.03,25.14
2,Sabha,LY,1580257338,0,28,60.03,10.18,27.04,14.43
3,Ubari,LY,1580257361,0,19,60.75,10.04,26.59,12.78

In [45]:
gmaps.configure(api_key=g_key)
vacation_locations = city_perfect_vacation[["Lat", "Lng"]]
vacation_humidity = city_perfect_vacation["Humidity"]
vacation_fig = gmaps.figure()
vacation_layer = gmaps.heatmap_layer(vacation_locations, weights=vacation_humidity, dissipating=False, 
                                     max_intensity=50, point_radius=2.5)
vacation_fig.add_layer(vacation_layer)
vacation_fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [46]:
gmaps.configure(api_key=g_key)
hotels = []
# Loop 
for city in range(len(city_perfect_vacation["City"])):
    lat = city_perfect_vacation.loc[city]["Lat"]
    #perfect_vacation["Lat"].iloc[0]
    #perfect_vacation.reset_index(drop=True)
    
    lng = city_perfect_vacation.loc[city]["Lng"]
    #perfect_vacation["Lng"].iloc[0]
    #perfect_vacation.reset_index(drop=True)
    
    city_coords = f"{lat},{lng}"
    params = {"location": city_coords, 
              "types": "lodging",
              "radius": 5000,
              "key": g_key
             }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   
    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()
    try:
        hotels.append(hotel_response["results"][0]["name"])
    except:
        hotels.append("Nearest hotel not found")

# Dataframe with nearest hotel
city_perfect_vacation["Hotel Name"] = hotels
city_perfect_vacation

,City,Country,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Lat,Lng,Hotel Name
0,Sur,OM,1580257282,0,46,62.74,10.85,22.57,59.53,Sur Plaza Hotel
1,Zemio,CF,1580257299,6,26,63.70,3.60,5.03,25.14,Nearest hotel not found
2,Sabha,LY,1580257338,0,28,60.03,10.18,27.04,14.43,محطة ام الارانب -سبها مواصلات
3,Ubari,LY,1580257361,0,19,60.75,10.04,26.59,12.78,فندق أوباري

In [47]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in city_perfect_vacation.iterrows()]
locations = city_perfect_vacation[["Lat", "Lng"]]

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content= [f"Hotel Name: {hotel}" for hotel in hotels])
vacation_fig.add_layer(markers)

# Display Map
vacation_fig

Figure(layout=FigureLayout(height='420px'))